@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Nunito-sans', sans-serif;
  font-size: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .h-26px {
    height: 26px;
  }
  .w-26px {
    width: 26px;
  }
  .h-40px {
    height: 40px;
  }
  .w-40px {
    width: 40px;
  }
}
